<a href="https://colab.research.google.com/github/bickkysahani/timeseries-forecasting/blob/main/timeseries_forecasting_3_weather_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [14]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Weather_data.csv', parse_dates =['datetime (UTC)'])
df.head()

       datetime (UTC)  ... total_cloud_cover (0-1)
0 2010-01-01 00:00:00  ...                     1.0
1 2010-01-01 01:00:00  ...                     1.0
2 2010-01-01 02:00:00  ...                     1.0
3 2010-01-01 03:00:00  ...                     1.0
4 2010-01-01 04:00:00  ...                     0.9

[5 rows x 13 columns]

In [15]:
df = df.rename(columns={'datetime (UTC)':'Date Time',
                                 'coordinates (lat,lon)':'coordinates',
                                  'model (name)':'model',
                                  'model elevation (surface)':'model elevation'
                                  ,'utc_offset (hrs)':'utc',
                                   'temperature (degC)':'T (degC)',
                                   'dewpoint_temperature (degC)':'Tdew (degC)',
                                   'wind_speed (m/s)':'wv (m/s)',
                                   'mean_sea_level_pressure (Pa)':'p (Pa)',
                                   'relative_humidity ((0-1))':'rh (%)',
                                   
                                  })
df.drop(columns=['coordinates','model','model elevation','utc'], axis=1, inplace=True)

df['p (Pa)'] = df['p (Pa)'].apply(lambda x: x*0.01)
df = df.rename(columns={'p (Pa)':'p (mbar)'
                                  })

In [16]:

df.head()

            Date Time  ...  total_cloud_cover (0-1)
0 2010-01-01 00:00:00  ...                      1.0
1 2010-01-01 01:00:00  ...                      1.0
2 2010-01-01 02:00:00  ...                      1.0
3 2010-01-01 03:00:00  ...                      1.0
4 2010-01-01 04:00:00  ...                      0.9

[5 rows x 9 columns]